:root {
  --dark-blue: #000528;
  --medium-blue: #0a1146;
  --light-blue: #d2ebfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial MT Pro', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #fff;
}

#app {
  height: 100vh;
  background-color: #141519;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 10px;
}

